html, body{
    background-color: gray;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}
.movie{
    width: 45%;
    height: auto;
    display: inline-grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 30% 10% 10% 50%; 
    background-color: whitesmoke;
    padding: 10px;
    margin-right: 20px;
    margin-top: 20px;
    justify-content: space-between;
    box-shadow: 5px 5px 15px black;
}
.container{
    height: 100%;
    width: 100%;
    padding: 10px;
    display: grid;
}

.loader{
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}
.loader_text{
    font-size: 40px;
}
